<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G-LANDIA</title>
</head>
<body>   
 <H1>Участники клуба</H1>
    <div>        
        <!-- {% for user in users %}
            <div class="userfield">
                <p>Имя: {{user.name}}</p>
                <p>Дата вступления: {{user.date_in}}</p>
                <p></p>
            </div>
        {% endfor %} -->
        <div style="display: flex; justify-content: center;">
            <table border="1">
                <tr>               
                    <th>GID</th>
                    <th>Role</th>
                    <th>Date in</th>
                    <th>QR отправлен</th>
                    <th>Заметки</th>
                    <th>Expired</th>
                    <th>Номер карты ВВ</th>
                </tr>

                {% for user in users %}
                    
                    <tr> 
                        <td>{{user.gid}}</td>
                        <td>{{user.role_id}}</td>
                        <td>{{user.date_in}}</td>
                        <td>{{user.is_sended}}</td>
                        <td>{{user.note}}</td>
                        <td>{{user.expire}}</td>
                        <td>{{user.vvcard}} </td>               
                    </tr>
                
                {% endfor %}
            </table>


            <!-- <table border="1">
                <tr>
                    <th>GID</th>                
                    <th>Имя</th>
                    <th>Телефон</th>
                    <th>Электронная почта</th>
                
                </tr>

                {% for contact in contacts %}
                    
                    <tr> 
                        <td>{{contact.gid}}</td>
                        <td>{{contact.name}}</td>
                        <td>{{contact.phone}}</td>
                        <td>{{contact.elmail}}</td>            
                    </tr>                   
                
                {% endfor %}
                
            </table> -->
        </div>
    </div>    
</body>
</html>