<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>G-LANDIA</title>
</head>
<body>
 <H1>{{ hello }}</H1>
    <div>
        {% if access == 'loop' %}        
        <a href="../members">УЧАСТНИКИ КЛУБА</a>
        <br><br>
        <a href="../add_mem_qrsend">Рассылка QR кодов</a>
        <br><br>
        <a href="../adduser">Добавление участника вручную</a>
        <br><br>
        <a href="../vv_reports_menu">Создание отчётов для ВкусВил</a>
        <br><br>
        <a href="../events_visits_menu">Посещения акций</a>
        <br><br>
        <a href="../event_add_form">Добавить событие</a>
        <br><br>
        {% endif %}
        <a href="../create_qr_code">Создать произвольный qr код</a>
        <br><br>
    </div>

</body>
</html>